@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
    font-style: oblique;
}
h3 {
    font-size: 1.25em;

}
li {
    font-weight: 55
    0;
}
#top_head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content {
    display: block;
    margin-left: 3em;
}
.notes_section {
    width: 100%;
    padding: 10px;
}
.notes{
    padding-bottom: 1.25em;
}