body {
    background-color: #d8e4ff;
}
#wrapper {
    display: flex;
    justify-content: center;
}
#box-wrapper {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: #6b818c solid 3px;
    align-items: center;
    width: 70%;
}
#bottom-bar {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    justify-content: space-around;
}
#entry-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#entered-text {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom:30px;
}
#btn {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom:30px;
}
#list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 80%;
}

.task-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border: gray solid 2px;
    align-items: center;

}
.task-text {
    margin-left: 5px;
    margin-right: 5px;
}

.check-box {
    margin: 2px;
    border: black solid 1px;
    max-height: 1em;
    height: 1em;
    width: 1em;
    min-width: 1em;
}

.completed{
    text-decoration: line-through;
}

