@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Slab:wght@300&display=swap');

//color variables
$steel: #5A7D7C;
$lavender: #DADFF7;
$gunmetal: #232C33;
$bluesky: #A0C1d1;
$green: #3B814A;

//font variables
$headers: 'Nunito Sans', sans-serif;
$bodyfont: 'Roboto Slab', serif;